<!DOCTYPE html>
<html>
  <head>
    <title> </title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'home' %}">Receipts</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_receipt' %}">Create receipt</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'list_accounts' %}">Accounts</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_account' %}">Create account</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'list_categories' %}">Categories</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_category' %}">Create category</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
